@use './variables' as *;
@use  'sass:list';
@use 'sass:map';
@function get-display-properties($display-config: map.get($display-config, 'properties'), $display-values)
{
    $display-properties: ();
    @for $i from 1 through list.length($display-config) {
        $key: list.nth($display-config, $i); // Lấy key từ $display-config-list
        $value: list.nth($display-values, $i);     // Lấy value tương ứng từ $display-1-xs
        $display-properties: list.append($display-properties, ($key $value)); // Thêm cặp key-value vào map
    }
    @return $display-properties;
}   

// // Debug map để kiểm tra kết quả
