.card{
    width: 315px;
    height: 170px;
    .card-header{
        border-width: 0 0 1px 0;
        border-color: transparent transparent var(--neutral-gray-5) transparent;
        border-style: dashed;
    }
    .card-img{
        width: 48px;
        height: 48px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .card-save-icon{
        margin-left: auto;
        width: 24px;
        height: 24px;
    }
    .status-icon{
        width: 15px;
        height: 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}