

.dropdown{
    --dropdown-padding-x: 16px;
    --dropdown-padding-y: 12px;
    --dropdown-bg: transparent;
    --dropdown-border-radius: 12px;
    --dropdown-color: var(--neutral-gray-7);
    --dropdown-list-bg: transparent;
    --dropdown-list-border-radius: 3px;
    --dropdown-item-hover-bg: var(--neutral-gray-2);
    --dropdown-item-hover-color: rgb(56, 62, 70);
    --dropdown-list-shadow: var(--box-shadow);
    cursor: pointer;
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    background-color: var(--dropdown-bg);
    border-radius: var(--dropdown-border-radius);
    color: var(--dropdown-color);
    position: relative;
    .dropdown-right-icon{
        width: 12px;
        svg{
            width: 100%;
        }
    }
    .dropdown-menu{
        display: none;
        overflow: hidden;
        margin: 0;
        box-shadow: var(--dropdown-list-shadow);
        position: absolute;
        width: 100%;
        top:100%;
        left: 0;
        padding-left: 0;
        background-color: var(--dropdown-list-bg);
        border-radius: var(--dropdown-list-border-radius);
        &.active{
            display: block;
        }
    }
    .dropdown-item{
        &:hover{
            background-color: var(--dropdown-item-hover-bg);
            color: var(--dropdown-item-hover-color);
            cursor: pointer;
        }
    }
}